/**
* Category Custom Checkbox for Countries
*/
.ecom-coutries-label{
	font-style : inherit;
}
.ecom-coutries-checkbox{
	cursor: pointer;
    margin-left: 20px;	
	font-weight: normal;
}
.ecom-coutries-checkbox .fa-check-square-o{
	color: #72af46;
}
.ecom-coutries-checkbox i{
	margin-right: 5px;
}
.ecom-coutries-checkbox input{
	display : none;
}

/** 
* Category Tree View Container
*/
.cat-div {
    width: 100%;
	overflow-y: auto !important;
    min-height: 500px;
    max-height: 500px;
    height: 100%;
}

#id_meliscommerce_categories_list .panel-group{
	/* padding-bottom: 30px; */ 
}

/** 
* Category Tree View Language Dropdown
*/
.cat-tree-view-languages {
    margin-left: 5px;
    margin-bottom: 30px;
    width: 165px;
	background: #eaeaea;
}
/**
* JSTree Search Buttons
*/

#categoryTreeViewPanel .btn span{
	font-size: 12px;
}
	
@media (min-width: 1753px) and (max-width: 1850px){
	#categoryTreeViewPanel .btn{
		font-size: 10px;
	}
}

@media (min-width: 1200px) and (max-width: 1752px) {
	#categoryTreeViewPanel .btn span{
		display: none;
	}
}

/*** JSTree ***/

/*Contentmenu*/
.vakata-context, .vakata-context ul {
	font-family: 'Titillium Web',sans-serif,Arial,sans-serif;
    box-shadow: 2px 4px 9px #717070;
    border-radius: 0px 3px 3px;
}
.vakata-context li>a {
    color: #4c4c4c;
    font-size: 12px;
}
/*Node Selected/Highlight*/
.jstree-proton .jstree-clicked {
    background: #932e2a;
    box-shadow: inset 0 0 1px #932e2a;
	border-radius: 0px;
	padding-right: 10px;
}
.jstree-proton .jstree-hovered {
    background: rgba(249, 124, 119, 0.42);
    box-shadow: inset 0 0 1px rgba(169, 68, 66, 0.38);
    color: #525151;
    border-radius: 0px;
	padding-right: 10px;
}

/**
* Category Header Panel Buttons Styles
**/
.panel-heading-buttons{
	margin: 10px 10px 0px
}
.panel-heading-buttons button{
	margin-left: 2px;
	margin-right: 2px;
}

/**
 * Common Styles
 */
.margin-bottom-5{
	margin-bottom: 5px;
}

.margin-bottom-10{
	margin-bottom: 10px;
}

/**
 * Panel Group
 */
.panel-group {
    margin-bottom: 0px; 
}

.is-draggable td:first-of-type{
    cursor: move;
}

/**
 * Category Switch
 */
.commerce-switch{
	width: 210px
}

.category-list-lang-dropdown{
    background: #ECEBEB;
    border-radius: 4px;
    color: #7D7B7B;
}



