.imageDocumentContainer{
	height: 100%;
}
.imageDocumentContainer .imageDocumentItem {
  width: 33.333%;
  float: left;
}
.imageDocumentContainer .imageDocumentItem img{
	display:block;
	width: 100%;
}

/**
 * File Attachments
 */
.addFileImageDocument{
	margin-right:10px;
}
.me-file-cont{
    margin-top: 5px; 
}
.me-file-cont p {
    margin: 8px 0px 10px 0;
}

.melis-filter-image {
    width: 100%;
}

.me-file-cont p {
	width: 100%;
}

.me-file-cont label span.updateFileDocument, span.deleteFileImageDocument{
	font-size: 20px;
	margin-top: -3px;
}

.me-file-cont label span.deleteFileImageDocument, span.updateFileDocument{
	font-size: 20px;
	margin-top: -3px;
}

 .me-file-cont label span.updateFileDocument:hover, span.deleteFileImageDocument:hover{
	cursor: pointer;
 	color: #cb4040;
 }

.imgFlag {
 	border: none !important;
	max-width:32px !important;
	max-height:32px !important;
}
.imgDisplay {
	border: none !important;
	max-width:24px !important;
	max-height:24px !important;
}

.open>.dropdown-menu {
	display: block;
	width: 300px;
}