/*---- Order Steps Styles ----*/
/* Red Box */
.red-box-panel-list .order-basket-list:last-child {
	border-bottom: none medium;
}
.red-box-panel-list .order-basket-list {
	border-bottom: 1px solid rgba(147, 46, 42, 0.2);
	margin: 0 0 10px;
}
.red-box-panel-list {
	padding: 5px 10px;
	border: 1px solid #e0e0e0;
}
.red-box-panel h3 {
	border-bottom: 1px solid #932e2a;
	background: #932e2a;
	color: #fff;
	font-size: 16px;
	padding: 7px 10px;
	padding: 10px;
}
.shadow-effect {
	margin: 40px 0 0;
}
.order-price {
	margin: 5px 0 0;
}
.me-heading a.btn.order-checkout {
	display: block;
	text-align: center;
	margin: 0 10px;
}

/* Tab */
#id_meliscommerce_order_new_order .tabsbar li a {
	cursor: default;
}

/* DataTable child rows */
#new-order-product-listing-table.table-primary
	tbody
	tr
	td.details-control:before {
	font: normal normal normal 22px/1 FontAwesome;
	display: inline-block;
	content: "\f103";
	cursor: pointer;
}
#new-order-product-listing-table.table-primary
	tbody
	tr.shown
	td.details-control:before {
	font: normal normal normal 22px/1 FontAwesome;
	display: inline-block;
	content: "\f100";
	cursor: pointer;
}
.tab-pane
	#new-order-product-listing-table.table.dataTable.dtr-inline.collapsed
	> tbody
	> tr
	> td:first-child:before {
	display: none !important;
}
tr.last-tr td {
	border: none;
}

/* Product Listing DataTable */
#new-order-product-listing-table {
	min-width: 250px;
}
#new-order-product-listing-table .cell-val-table {
	margin: 0 5px 5px;
}
#new-order-product-listing-table .float-right {
	float: right;
}
#new-order-product-listing-table .float-left {
	float: left;
}
.order-variant {
	display: block;
	float: none;
	width: 100%;
	padding: 10px;
	clear: both;
	margin-bottom: 3px;
	background: #f0f0f0;
}
#new-order-product-listing-table.dataTable.dtr-inline.collapsed
	> tbody
	> tr
	> td:first-child,
#new-order-product-listing-table.dataTable.dtr-inline.collapsed
	> tbody
	> tr
	> th:first-child {
	padding-left: 10px;
	pointer-events: none;
}

/* Show and Date Box */
.filter-bar .row .fb-dt-left > div {
	display: inline-block;
	margin: 6px 6px 6px 0;
}
.filter-bar .row .fb-dt-left .order-list-table-filter-limit-order {
	float: left;
}

.filter-bar
	.row
	.fb-dt-left
	.order-list-table-filter-limit-order
	.dataTables_length {
	display: block;
}

/*	Order checkout basket */
.order-basket-checkout-summary h4 {
	font-size: 14px;
	letter-spacing: 0.1px;
}
.order-basket-checkout-summary .title {
	font-size: 16px;
	color: #981a1f;
}

/* Responsive */

@media (max-width: 436px) {
	.me-heading .bottom-bottons .btn.btn-success {
		float: none;
		clear: both;
		display: block;
		text-align: center;
		margin: 10px 0 0;
	}
	.order-variant .cell-val-table {
		display: none;
	}
}

@media (min-width: 1200px) {
	.filter-bar .row .fb-dt-left .order-list-table-filter-limit-order {
		display: inline-block;
	}
	.filter-bar .row .fb-dt-left .order-list-table-filter-date-order {
		display: inline-block;
		top: 2px;
	}
}
