/**HOTFIX **/
a.add-product{
    margin-right: 8px;
}

span.attribute-buttons * {
    margin-top: -1px;
}

#prd_reference{
	margin-left: 5px;
}
button.dropdown-btn{
   height: 34px;
   margin-top: -1px;
}

input#productCategorySearch{
	width:100%;
}

span.productCategoryItems *{
	margin-left: 15px;
}

/* MODAL  */
.me-commerce .modal-content-cont{
	padding: 25px;
}
.me-commerce .modal .modal-content{
	border-width: 0px;
}
.me-commerce .modal .modal-header .modal-title{
	font-weight: normal;
    line-height: 36px;
    height: 34px;
}
.me-commerce .modal .modal-header .modal-title i{
	font-size: 18px;
	margin-right: 5px;
}
.me-commerce .modal .modal-header{
	padding: 5px 25px;
	background: none;
}
.me-commerce .modal .modal-header .close{
	font-size: 30px;
    top: 7px;
    right: 20px;
}
.me-commerce .modal .modal-footer{
	background: none;
}
.me-commerce .modal .modal-footer{
	padding: 10px 0;
	border: none;
}
.me-commerce .modal .modal-footer .btn{
	min-width: 120px;
}